::-webkit-scrollbar {
    width: 0;
}

body {
    display: flex;
    justify-content: center;
}

/* GLOBAL SELECTORS */

hr {
    margin: 0;
}

.divider {
    background-color: rgb(200, 200, 200);
    margin: 0 0 8px 23%;
    height: 1px;
    width: 77%;
}

.blue {
    color: rgb(42, 142, 250) !important;
}

.row {
    max-height: 70px;
}

/* APP */

.app {
    padding: 20px 0 0 0;
}

/* FIRST ROW */

p-edit {
    font-weight: 450;
}

.i-new-chat {
    text-align: right;
}

/* HEADING ROW */

h1 {
    font-weight: 700;
}

/* SEARCH ROW */

.search {
    text-align: center;
}

.search input {
    color: white;
    background-color: rgb(245, 245, 245);
    border: 1px solid;
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 20px;
    outline: none;
    width: 100%;
}

::placeholder {
    color: rgb(150, 150, 150);
    font-size: 15px;
    font-weight: 350;
}

/* FOURTH ROW */

.p-lists {
    font-weight: 450;
}

.p-new-group {
    font-weight: 450;
    text-align: right;
}

/* ARCHIVE */

.arch-row {
    margin: 7px 0;
}

.i-folder {
    color: rgb(150, 150, 150);
    position: relative;
    top: 7px;
    left: 25px;
}

.p-archived {
    font-size: 15px;
    font-weight: 550;
    position: relative;
    right: 40px;
    text-align: left;
}

.p-archived-n {
    font-size: 13px;
    text-align: right;
}

/* CHATS */

.chats {
    overflow-y: scroll;
    max-height: 475px;
}

.chat:hover {
    background-color: rgb(210, 210, 210);
}

.chat-img {
    border-radius: 100%;
    height: 40px;
    width: 40px;
    margin-top: 5px;
}

.chat-name {
    font-weight: 600;
    padding: 0;
    position: relative;
    right: 7px;
    text-align: left;
}

.chat-time {
    color: rgb(150, 150, 150);
    font-size: 13px;
    text-align: right;
    padding: 0;
}

.chat-new-msg {
    color: white;
    background-color: rgb(42, 142, 250);
    border-radius: 50%;
    position: relative;
    left: 69px;
    bottom: 10px;
    text-align: center;
    height: 20px;
    width: 20px;
}

.chat-new-msg p {
    position: relative;
    font-size: 10px;
    left: 1px;
    top: 3px;
}

.chat-txt {
    color: rgb(150, 150, 150);
    font-size: 13px;
    padding: 0;
    position: relative;
    left: 23%;
    bottom: 15px;
    margin: 0;
    text-align: left;
    width: 50%;
}

.chat-new-txt {
    bottom: 25px;
}

/* BOTTOM ICONS */

.bottom-icons {
    background-color: rgb(245, 245, 245);
    text-align: center;
}

.bottom-icons i {
    color: rgb(150, 150, 150);
    font-size: 20px;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}

.bottom-icons p {
    color: rgb(150, 150, 150);
    font-size: 10px;
    position: relative;
    top: 30%;
    transform: translateY(-50%);
}

.total-new-msg {
    color:white;
    background-color: red;
    border-radius: 100%;
    position: relative;
    left: 270px;
    bottom: 50px;
    text-align: center;
    height: 20px;
    width: 20px;
}

.total-new-msg p {
    position: relative;
    font-size: 10px;
    left: 1px;
    top: 3px;
}